@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 10px;
  text-align: center;
}

body .col-12 {
  background-color: lightblue;
  color: white;
  height: 30px;
  padding: 5px;
  border: 3px solid black;
}

body .col-sm-12 {
  background-color: green;
  color: white;
  height: 30px;
  padding: 5px;
  border: 3px solid black;
}

body .col-md-12 {
  background-color: orange;
  color: white;
  height: 30px;
  padding: 5px;
  border: 3px solid black;
}

body .col-lg-12 {
  background-color: blue;
  color: white;
  height: 30px;
  padding: 5px;
  border: 3px solid black;
}

body .col-xl-12 {
  background-color: red;
  color: white;
  height: 30px;
  padding: 5px;
  border: 3px solid black;
}

body .col-3, body .col-sm-3, body .col-sm-6, body .col-md-1, body .col-lg-2, body .col-xl-3, body .col-xl-9 {
  color: black;
  height: 40px;
  padding: 5px;
  border: 3px solid black;
}
