
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
  font-family: 'Roboto', sans-serif;
}

.col-xl-12, .col-lg-12{
  background-image: linear-gradient(to right top, #ffef00, #ffc300, #ff9400, #ff6000, #f20303);
  height: 1000px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
